services:
  app:
    container_name: animal_talk-app
    build: .
    restart: unless-stopped
    environment:
      PORT: "5000"
    expose:
      - "5000"
    networks:
      - default
      - caddy_network

networks:
  caddy_network:
    external: true
    name: caddy_network
  default:
